In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('treatment.csv', sep=',')

In [3]:
df

     name     sex treatment a  treatment b
0  Daniel    male           -           42
1    John    male          12           31
2    Jane  female          24           27

In [6]:
print(df.dtypes)

name           object
sex            object
treatment a    object
treatment b     int64
dtype: object

In [7]:
##Combirtiendo tipos de datos
df['treatment b'] = df['treatment b'].astype(str)

In [21]:
df['sex'] = df['sex'].astype('category')

In [9]:
df.dtypes

name             object
sex            category
treatment a      object
treatment b      object
dtype: object

In [ ]:
"""
Categorical data
● Converting categorical data to ‘category’ dtype:
● Can make the DataFrame smaller in memory
● Can make them be utilized by other Python libraries
for analysis
"""

In [10]:
##Numeric data loaded as a string
df

     name     sex treatment a treatment b
0  Daniel    male           -          42
1    John    male          12          31
2    Jane  female          24          27

In [22]:
df['treatment a'] = pd.to_numeric(df['treatment a'],errors='coerce')

In [23]:
df

     name     sex  treatment a  treatment b
0  Daniel    male          NaN           42
1    John    male         12.0           31
2    Jane  female         24.0           27

In [14]:
df.dtypes

name             object
sex            category
treatment a     float64
treatment b      object
dtype: object

In [ ]:
##Using regular expressions to clean strings

In [ ]:
"""
String manipulation
● Much of data cleaning involves string manipulation
● Most of the world’s data is unstructured text
● Also have to do string manipulation to make
datasets consistent with one another
"""

In [ ]:
##Validate values 
"""
● 17
● $17
● $17.89
● $17.895
"""

In [ ]:
"""
String manipulation
● Many built-in and external libraries
● ‘re’ library for regular expressions
● A formal way of specifying a pa!ern
● Sequence of characters
● Pa!ern matching
● Similar to globbing
"""

In [ ]:
##Using regular expressions
"""
Compile the pa!ern
● Use the compiled pa!ern to match values
● This lets us use the pa!ern over and over again
● Useful since we want to match values down
a column of values

"""

In [17]:
import re
pattern = re.compile('\$\d*\.\d{2}')
result = pattern.match('$17.89')
bool(result)

True

In [ ]:
##Usando funciones para limpiar datos
##Complex cleaning
# Cleaning step requires multiple steps
# Extract number from string
# Perform transformation on extracted number
# Python function

In [29]:
df=df["treatment a","treatment b"]

KeyError: ('treatment a', 'treatment b')

In [25]:
df.apply(np.mean, axis=0)

TypeError: ('Could not convert DanielJohnJane to numeric', 'occurred at index name')